<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Font Awesome -->

    <title>Lawyer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    
    <body>
    
    
    <div class="wrapper">
    
    <%= render 'shared/dashboard/side_bar' %>
    
    <%= render 'shared/dashboard/top_nav_bar' %>
    
    <% render 'shared/dashboard/footer' %>

    
   

  </body>
</html>
